body{
    background-color: rgb(63, 154, 174);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Header{
    color: rgb(255, 226, 175);
    border: 5px solid #F96E5B;
    border-radius: 100%;
    padding: 10px;
}
div{
    background-color: rgb(121, 201, 197);
    margin: 50px;
}
.Subheading{
    color: rgb(249, 110, 91);
    font-family: cursive;
    border: 5px dashed #FFE2AF;
    margin: 30px;

}
.image{
    width:400px;
    border: 5px dashed #F96E5B;
    border-radius: 100%;
    padding: 10px;
}